<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="text-center row justify-content-center lead">You have successfully registered,Thank You!</div>
        <div class="text-center row justify-content-center"><button type="button"  value="Go Back to Login" class="btn btn-danger m-5 px-3 "><a href="/login">Go Back to Login</a></button></div>
    </div>
    <div class="d-inline p-4 align-self-start"><img src="assets/images/home.png" alt="Home" class="px-2 "></div>
</div>
</body>
</html>
