<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="d-flex ">
        <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm">
            <div class="container">
                <div class="row mt-3 form-field">
                    <div class="form-group col">
                        <label for="fname" >First Name</label>
                        <input type="text" name="fname" class="form-control" formControlName="fname">
                        
                    </div>
                    <div class="form-group col">
                        <label for="lname">Last Name</label>
                        <input type="text" formControlName="lname" class="form-control">
                        
                    </div>
                </div>
                <small class="row">
                    <small *ngIf="submitted && registrationForm.controls['fname'].errors" class="text-danger col">First Name is required.</small>
                    <small *ngIf="submitted && registrationForm.controls['lname'].errors" class="text-danger col">Last Name is required.</small>
                </small>
                <div class="form-group row mt-3 form-field">
                    <label for="email">Email Id</label>
                    <input type="email" formControlName="email" class="form-control">
                </div>
                <small *ngIf="submitted && registrationForm.controls['email'].errors" class="text-danger">
                    <small *ngIf="registrationForm.controls['email'].errors['required']">Email is required.</small>
                    <small *ngIf="registrationForm.controls['email'].errors['email']">Invalid email format.</small>
                </small>
                <div class="form-group row mt-3 form-field">
                    <label for="phone">Mobile Number</label>
                    <input type="text" formControlName="phone" class="form-control">
                </div>
                <small *ngIf="submitted && registrationForm.controls['phone'].errors" class="text-danger">
                    Phone Number is required.
                </small>
                <div class="row mt-3 form-field">
                    <div class="form-group col ">
                        <label for="address">Address</label>
                        <input type="text" formControlName="address" class="form-control">
                    </div>
                    <div class="form-group col">
                        <label for="pin">Pin</label>
                        <input type="text" formControlName="pin" class="form-control">
                    </div>
                </div>
                <small class="row">
                    <small *ngIf="submitted && registrationForm.controls['address'].errors" class="text-danger col">
                        Address is required.
                    </small>
                    <small *ngIf="submitted && registrationForm.controls['pin'].errors" class="text-danger col">
                        Pin is required.
                    </small>
                </small>
                <div class="form-group row mt-3 form-field">
                    <label for="phone">Password</label>
                    <input type="text" formControlName="password" class="form-control">
                </div>
                <small *ngIf="submitted && registrationForm.controls['password'].errors" class="text-danger">
                    Password is required.
                </small>
                
            </div>
            <div class="text-center">
                <button type="submit" (click)="submitted = true" class="btn btn-danger m-5 px-3">
                    Sign Up
                </button>
            </div>
        </form>
        <div class="d-inline p-4"><img src="assets/images/home.png" alt="Home" class="px-2"></div>
    </div>
</body>

</html>